In [4]:
import webbrowser
import time
import os
import shutil
import copy
import pandas as pd
import re
import csv
import numpy as np
from pandas import DataFrame
import sys
import json
import urllib
from datetime import datetime, timedelta
import requests

from StringIO import StringIO

In [10]:
### Test
def get_token(response_text):
    try:
        return response_text.split('token":"')[1].split('","')[0]
    except:
        return None

def get_csv_request(response_text):
    try:
        return response_text.split('"widgets":')[1].split(',"lineAnno')[0].split('"request":')[1]       
    except:
        return None

#print(requests.get("https://trends.google.com/trends/explore?date=2017-03-26%202017-04-26&q=fashion%20week").text.encode('utf8'))
time_formatted = '2015-01-06' + '+' + '2017-01-09'
req = {"comparisonItem":[{"keyword":'panda', "geo":'US', "time": time_formatted}],"category": 22, "property":""}
hl = "en-GB"
tz = "-120"
#print(json.dumps(req).replace(' ','').replace('+',' '))
explore_URL = 'https://trends.google.com/trends/api/explore?hl={0}&tz={1}&req={2}'.format(hl,tz,json.dumps(req).replace(' ','').replace('+',' '))
#print explore_URL
requests.get(explore_URL).text.encode('utf8')
response_text = requests.get(explore_URL).text
#print(response_text)
request = get_csv_request(response_text)
token = get_token(response_text)
#print(response_text)

csv = requests.get('https://www.google.com/trends/api/widgetdata/multiline/csv?req={0}&token={1}&tz=-120'.format(request,token))
print(csv.text)
print(csv.text.split('\n')[3:4])
text = csv.text.encode('utf8').split('\n')
a = text[3:len(text)-1]
df = pd.DataFrame(columns = ["Date","Volume"])
#for line in a:
#    s = line.split(',')
#    df = df.append([s[0],'panda',s[1]])

def spl (str):
    return str.split(',')

df = pd.DataFrame((map((lambda x: x.split(',')),a)))
df['term'] = 'panda'
df.columns = ['date', 'volume','term']
print(df)

Category: Books & Literature

Week,panda: (United States)
2015-01-11,40
2015-01-18,30
2015-01-25,46
2015-02-01,33
2015-02-08,34
2015-02-15,49
2015-02-22,36
2015-03-01,34
2015-03-08,37
2015-03-15,42
2015-03-22,44
2015-03-29,34
2015-04-05,50
2015-04-12,36
2015-04-19,40
2015-04-26,31
2015-05-03,43
2015-05-10,36
2015-05-17,30
2015-05-24,26
2015-05-31,30
2015-06-07,31
2015-06-14,43
2015-06-21,31
2015-06-28,25
2015-07-05,24
2015-07-12,28
2015-07-19,25
2015-07-26,30
2015-08-02,32
2015-08-09,27
2015-08-16,26
2015-08-23,40
2015-08-30,26
2015-09-06,34
2015-09-13,33
2015-09-20,42
2015-09-27,38
2015-10-04,28
2015-10-11,53
2015-10-18,30
2015-10-25,33
2015-11-01,41
2015-11-08,44
2015-11-15,41
2015-11-22,36
2015-11-29,36
2015-12-06,42
2015-12-13,48
2015-12-20,49
2015-12-27,41
2016-01-03,35
2016-01-10,46
2016-01-17,46
2016-01-24,79
2016-01-31,100
2016-02-07,65
2016-02-14,70
2016-02-21,54
2016-02-28,58
2016-03-06,65
2016-03-13,59
2016-03-20,57
2016-03-27,64
2016-04-03,70
2016-04-10,74
2016-04-17,87
2016-04-24,82
2016-05-01,97
2016-05-08,98
2016-05-15,98
2016-05-22,81
2016-05-29,78
2016-06-05,68
2016-06-12,66
2016-06-19,48
2016-06-26,49
2016-07-03,40
2016-07-10,58
2016-07-17,45
2016-07-24,43
2016-07-31,39
2016-08-07,36
2016-08-14,40
2016-08-21,39
2016-08-28,35
2016-09-04,62
2016-09-11,36
2016-09-18,50
2016-09-25,43
2016-10-02,48
2016-10-09,52
2016-10-16,35
2016-10-23,47
2016-10-30,46
2016-11-06,42
2016-11-13,47
2016-11-20,47
2016-11-27,39
2016-12-04,39
2016-12-11,42
2016-12-18,61
2016-12-25,33
2017-01-01,45
2017-01-08,48

[u'2015-01-11,40']
           date volume   term
0    2015-01-11     40  panda
1    2015-01-18     30  panda
2    2015-01-25     46  panda
3    2015-02-01     33  panda
4    2015-02-08     34  panda
5    2015-02-15     49  panda
6    2015-02-22     36  panda
7    2015-03-01     34  panda
8    2015-03-08     37  panda
9    2015-03-15     42  panda
10   2015-03-22     44  panda
11   2015-03-29     34  panda
12   2015-04-05     50  panda
13   2015-04-12     36  panda
14   2015-04-19     40  panda
15   2015-04-26     31  panda
16   2015-05-03     43  panda
17   2015-05-10     36  panda
18   2015-05-17     30  panda
19   2015-05-24     26  panda
20   2015-05-31     30  panda
21   2015-06-07     31  panda
22   2015-06-14     43  panda
23   2015-06-21     31  panda
24   2015-06-28     25  panda
25   2015-07-05     24  panda
26   2015-07-12     28  panda
27   2015-07-19     25  panda
28   2015-07-26     30  panda
29   2015-08-02     32  panda
..          ...    ...    ...
75   2016-06-19     48  panda
76   2016-06-26     49  panda
77   2016-07-03     40  panda
78   2016-07-10     58  panda
79   2016-07-17     45  panda
80   2016-07-24     43  panda
81   2016-07-31     39  panda
82   2016-08-07     36  panda
83   2016-08-14     40  panda
84   2016-08-21     39  panda
85   2016-08-28     35  panda
86   2016-09-04     62  panda
87   2016-09-11     36  panda
88   2016-09-18     50  panda
89   2016-09-25     43  panda
90   2016-10-02     48  panda
91   2016-10-09     52  panda
92   2016-10-16     35  panda
93   2016-10-23     47  panda
94   2016-10-30     46  panda
95   2016-11-06     42  panda
96   2016-11-13     47  panda
97   2016-11-20     47  panda
98   2016-11-27     39  panda
99   2016-12-04     39  panda
100  2016-12-11     42  panda
101  2016-12-18     61  panda
102  2016-12-25     33  panda
103  2017-01-01     45  panda
104  2017-01-08     48  panda

[105 rows x 3 columns]

In [ ]:
def get_data(bucket_start_date,bucket_end_date, keyword):
    bucket_start_date_printed = datetime.strftime(bucket_start_date, '%Y-%m-%d')
    bucket_end_date_printed = datetime.strftime(bucket_end_date, '%Y-%m-%d')
    time_formatted = bucket_start_date_printed + '+' + bucket_end_date_printed

    req = {"comparisonItem":[{"keyword":keyword, "geo":geo, "time": time_formatted}], "category":category,"property":""}
    hl = "en-GB"
    tz = "-120"

    explore_URL = 'https://trends.google.com/trends/api/explore?hl={0}&tz={1}&req={2}'.format(hl,tz,json.dumps(req).replace(' ','').replace('+',' '))
    print explore_URL
    print requests.get(explore_URL).text.encode('utf8')
    return requests.get(explore_URL).text

In [ ]:
def get_csv(response_text):
    request = get_csv_request(response_text)
    token = get_token(response_text)

    csv = requests.get('https://www.google.com/trends/api/widgetdata/multiline/csv?req={0}&token={1}&tz=-120'.format(request,token))
    return csv.text.encode('utf8')

def parse_csv(csv_contents):
    lines = csv_contents.split('\n')
    df = pd.DataFrame(columns = ['date','value'])
    dates = []
    values = []
    # Delete top 3 lines
    for line in lines[3:]:
        try:
            dates.append(line.split(',')[0].replace(' ',''))
            values.append(line.split(',')[1].replace(' ',''))
        except:
            pass
    df['date'] = dates
    df['value'] = values
    print df.head()
    return df

In [33]:
### Main

def get_interest_over_time (start_date, end_date, kw_list): 
    geo = 'US'
    category = 22
    final_frame = pd.DataFrame()
    for keyword in kw_list:
        keywords = '+'.join(keyword)
        daily_frames = get_daily_frames(start_date, end_date, keywords)
        weekly_frame = get_weekly_frame(start_date, end_date, keywords)
        temp = stitch_frames(keyword, daily_frames, weekly_frame)
        final_frame = pd.concat([final_frame, temp.reset_index(drop = True)], axis = 1)
        
    return final_frame
kw_list = ['a-line', 'fashion']

out = get_interest_over_time("2015-05-05", "2016-07-05", kw_list)
print out.shape

/Users/nguyentrang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:105: FutureWarning: sort(....) is deprecated, use sort_index(.....)

(147, 2)

In [40]:
start_date = "2015-05-05"
end_date = "2016-07-05"
keyword = "a-line"
geo = 'US'
category = 22
keywords = '+'.join(keyword)
daily_frames = get_daily_frames(start_date, end_date, keywords)
weekly_frame = get_weekly_frame(start_date, end_date, keywords)
final_frame = stitch_frames(keywords, daily_frames, weekly_frame)
print daily_frames[0]

           date volumne
0    2015-05-05       0
1    2015-05-06       0
2    2015-05-07       0
3    2015-05-08       0
4    2015-05-09       0
5    2015-05-10       0
6    2015-05-11       0
7    2015-05-12       0
8    2015-05-13       0
9    2015-05-14       0
10   2015-05-15       0
11   2015-05-16       0
12   2015-05-17       0
13   2015-05-18       0
14   2015-05-19       0
15   2015-05-20       0
16   2015-05-21       0
17   2015-05-22       0
18   2015-05-23       0
19   2015-05-24       0
20   2015-05-25       0
21   2015-05-26       0
22   2015-05-27       0
23   2015-05-28       0
24   2015-05-29       0
25   2015-05-30       0
26   2015-05-31       0
27   2015-06-01       0
28   2015-06-02       0
29   2015-06-03       0
..          ...     ...
152  2015-10-04       0
153  2015-10-05       0
154  2015-10-06       0
155  2015-10-07       0
156  2015-10-08       0
157  2015-10-09       0
158  2015-10-10       0
159  2015-10-11       0
160  2015-10-12       0
161  2015-10-13       0
162  2015-10-14       0
163  2015-10-15       0
164  2015-10-16       0
165  2015-10-17       0
166  2015-10-18       0
167  2015-10-19       0
168  2015-10-20       0
169  2015-10-21       0
170  2015-10-22       0
171  2015-10-23     100
172  2015-10-24       0
173  2015-10-25       0
174  2015-10-26       0
175  2015-10-27       0
176  2015-10-28       0
177  2015-10-29       0
178  2015-10-30       0
179  2015-10-31       0
180  2015-11-01       0
181  2015-11-02       0

[182 rows x 2 columns]

/Users/nguyentrang/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:105: FutureWarning: sort(....) is deprecated, use sort_index(.....)

In [43]:
print daily_frames[2]

          date volumne
0   2016-05-01       0
1   2016-05-02       0
2   2016-05-03       0
3   2016-05-04       0
4   2016-05-05       0
5   2016-05-06       0
6   2016-05-07       0
7   2016-05-08       0
8   2016-05-09       0
9   2016-05-10       0
10  2016-05-11       0
11  2016-05-12       0
12  2016-05-13       0
13  2016-05-14       0
14  2016-05-15       0
15  2016-05-16       0
16  2016-05-17       0
17  2016-05-18       0
18  2016-05-19       0
19  2016-05-20       0
20  2016-05-21       0
21  2016-05-22       0
22  2016-05-23       0
23  2016-05-24       0
24  2016-05-25       0
25  2016-05-26       0
26  2016-05-27       0
27  2016-05-28       0
28  2016-05-29       0
29  2016-05-30     100
..         ...     ...
36  2016-06-06       0
37  2016-06-07       0
38  2016-06-08       0
39  2016-06-09       0
40  2016-06-10       0
41  2016-06-11       0
42  2016-06-12       0
43  2016-06-13       0
44  2016-06-14       0
45  2016-06-15       0
46  2016-06-16      83
47  2016-06-17       0
48  2016-06-18       0
49  2016-06-19       0
50  2016-06-20       0
51  2016-06-21       0
52  2016-06-22       0
53  2016-06-23       0
54  2016-06-24       0
55  2016-06-25       0
56  2016-06-26       0
57  2016-06-27       0
58  2016-06-28       0
59  2016-06-29       0
60  2016-06-30       0
61  2016-07-01       0
62  2016-07-02       0
63  2016-07-03       0
64  2016-07-04       0
65  2016-07-05       0

[66 rows x 2 columns]

In [5]:

### Copied program
def get_buckets(start_date, end_date):
    start_date_dt = datetime.strptime(start_date, '%Y-%m-%d')
    end_date_dt = datetime.strptime(end_date, '%Y-%m-%d')

    bucket_limits = [start_date_dt]
    left_limit = start_date_dt
    while left_limit <= end_date_dt:
        new_limit = left_limit + timedelta(days=181)
        if new_limit < end_date_dt:
            bucket_limits.append(new_limit)
        left_limit = new_limit
    bucket_limits.append(end_date_dt)
    return bucket_limits

def get_data(bucket_start_date,bucket_end_date, keyword):
    bucket_start_date_printed = datetime.strftime(bucket_start_date, '%Y-%m-%d')
    bucket_end_date_printed = datetime.strftime(bucket_end_date, '%Y-%m-%d')
    time_formatted = bucket_start_date_printed + '+' + bucket_end_date_printed

    req = {"comparisonItem":[{"keyword":keyword, "geo": '', "time": time_formatted}], "category": 22,"property":""}
    hl = "en-GB"
    tz = "-120"

    explore_URL = 'https://trends.google.com/trends/api/explore?hl={0}&tz={1}&req={2}'.format(hl,tz,json.dumps(req).replace(' ','').replace('+',' '))
    return requests.get(explore_URL).text

def get_token(response_text):
    try:
        return response_text.split('token":"')[1].split('","')[0]
    except:
        return None

def get_csv_request(response_text):
    try:
        return response_text.split('"widgets":')[1].split(',"lineAnno')[0].split('"request":')[1]       
    except:
        return None

def get_csv(response_text):
    request = get_csv_request(response_text)
    token = get_token(response_text)

    csv = requests.get('https://www.google.com/trends/api/widgetdata/multiline/csv?req={0}&token={1}&tz=-120'.format(request,token))
    return csv.text.encode('utf8')

def parse_csv(csv_contents):
    lines = csv_contents.split('\n')
    df = pd.DataFrame(columns = ['date','value'])
    dates = []
    values = []
    # Delete top 3 lines
    for line in lines[3:-1]:
        try:
            dates.append(line.split(',')[0].replace(' ',''))
            values.append(line.split(',')[1].replace(' ',''))
        except:
            pass
    df['date'] = dates
    df['value'] = values
    return df   

def get_daily_frames(start_date, end_date, keyword):

    bucket_list = get_buckets(start_date, end_date)
    frames = []
    for i in range(0,len(bucket_list) - 1):
        resp_text = get_data(bucket_list[i], bucket_list[i+1], keyword)
        frames.append(parse_csv(get_csv(resp_text)))

    return frames

def get_weekly_frame(start_date, end_date, keyword):

    if datetime.strptime(start_date, '%Y-%m-%d') > datetime.strptime(end_date, '%Y-%m-%d') - timedelta(days=180):
        print 'No need to stitch; your time interval is short enough. '
        return None
    else:
        resp_text = get_data(datetime.strptime(start_date, '%Y-%m-%d'), datetime.strptime(end_date, '%Y-%m-%d'), keyword)
        return parse_csv(get_csv(resp_text))

def get_weekly_frame2 (start_date, end_date, keyword):
    resp_text = get_data(datetime.strptime(start_date, '%Y-%m-%d'), datetime.strptime(end_date, '%Y-%m-%d'), keyword)
    return parse_csv(get_csv(resp_text))

def stitch_frames(keywords, daily_frames, weekly_frame):
    if weekly_frame is None:
        return pd.concat(daily_frames, ignore_index = True)
    else: 
        daily_frame = pd.concat(daily_frames, ignore_index = True)
        daily_frame.columns = ['Date', 'Daily_Volume']
        pd.to_datetime(daily_frame['Date']) 
    
        weekly_frame.columns = ['Week_Start_Date', 'Weekly_Volume']
        weekly_frame.index = weekly_frame['Week_Start_Date']
        
        daily_frame.index = daily_frame['Date']
    
        bins = []

        for i in range(0,len(weekly_frame)):
            bins.append(pd.date_range(weekly_frame['Week_Start_Date'][i],periods=7,freq='d'))

        final_data = {}

        for i in range(0,len(bins)):
            week_start_date = datetime.strftime(bins[i][0],'%Y-%m-%d')
            for j in range(0,len(bins[i])):
                this_date = datetime.strftime(bins[i][j],'%Y-%m-%d')
                try:
                    this_val = int(float(weekly_frame['Weekly_Volume'][week_start_date])*float(daily_frame['Daily_Volume'][this_date])/float(daily_frame['Daily_Volume'][week_start_date]))
                    final_data[this_date] = this_val
                except:
                    pass
        final_data_frame = DataFrame.from_dict(final_data,orient='index').sort()
        final_data_frame[0] = np.round(final_data_frame[0]/final_data_frame[0].max()*100,2)

        final_data_frame.columns=['v_'+keywords]
        final_data_frame.index.names = ['Date']

        return final_data_frame

In [2]:
s = "fashion week"
s.replace(' ','+')

'fashion+week'

In [6]:
## Main function
def get_interest_over_time (start_date, end_date, kw_list): 
    geo = ''
    category = 22
    final_frame = pd.DataFrame()
    for keyword in kw_list:
        keywords = keyword.replace(' ','+')
        weekly_frame = get_weekly_frame2(start_date, end_date, keywords)
        final_frame = pd.concat([final_frame, weekly_frame], axis = 1)
    final_frame.index = final_frame.iloc[:,0]
    final_frame = final_frame.drop('date',1)
    final_frame.columns = kw_list
    return final_frame

In [8]:
## Time frame
start_date = '2012-01-01'
end_date = '2016-01-01'
## Event terms
event_term_df = pd.read_csv("event.csv")
event_term = event_term_df['Keyword'].unique().tolist()

## Output csv file with events populuarity index
category_search_df = get_interest_over_time(start_date, end_date, event_term)
print category_search_df
category_search_df = category_search_df.to_csv('event-search.csv')

           paris fashion week academy award milan ss london fashion week  \
date
2012-01-01                 48            64        0                   0
2012-01-08                  0            36        0                   0
2012-01-15                  0            23        0                  27
2012-01-22                 45            35        0                  53
2012-01-29                  0            30        0                  52
2012-02-05                  0            25       99                  26
2012-02-12                 89            40        0                  26
2012-02-19                 44            30        0                  66
2012-02-26                 66           100        0                  27
2012-03-04                 87            20        0                   0
2012-03-11                 86            34        0                  26
2012-03-18                 44            15        0                  26
2012-03-25                  0            45        0                   0
2012-04-01                  0            26        0                   0
2012-04-08                  0            36        0                  27
2012-04-15                  0            29        0                  26
2012-04-22                  0            15        0                   0
2012-04-29                  0            45      100                   0
2012-05-06                 65            24        0                  26
2012-05-13                  0            52        0                   0
2012-05-20                  0            15        0                  26
2012-05-27                  0            20        0                   0
2012-06-03                 43            22        0                   0
2012-06-10                 43            19        0                  26
2012-06-17                  0            22        0                   0
2012-06-24                 43            44        0                   0
2012-07-01                 44            15        0                   0
2012-07-08                  0            22        0                   0
2012-07-15                  0            44        0                   0
2012-07-22                 44            23        0                  53
...                       ...           ...      ...                 ...
2015-06-07                  0            23        0                   0
2015-06-14                 29            19        0                   0
2015-06-21                  0            15        0                   0
2015-06-28                 29            40        0                   0
2015-07-05                 29            17        0                  18
2015-07-12                 29            20       66                   0
2015-07-19                  0            20        0                   0
2015-07-26                  0            20       65                  17
2015-08-02                  0            10        0                   0
2015-08-09                 29            10        0                  17
2015-08-16                  0            19        0                   0
2015-08-23                  0            25       63                  17
2015-08-30                 28            13        0                   0
2015-09-06                  0            19       63                  17
2015-09-13                 27            18        0                  33
2015-09-20                  0            14        0                  41
2015-09-27                 45            14        0                   0
2015-10-04                 45            23        0                   0
2015-10-11                 27            46        0                  16
2015-10-18                  0            27       61                   0
2015-10-25                 27            46        0                   0
2015-11-01                  0            21        0                   0
2015-11-08                  0            27        0                  16
2015-11-15                 26             9        0                   0
2015-11-22                 27            18        0                   0
2015-11-29                  0            27        0                  16
2015-12-06                 26            23        0                  16
2015-12-13                 28            28        0                   0
2015-12-20                  0            21        0                   0
2015-12-27                  0            13        0                   0

           haute couture fashion week pitti immagine  \
date
2012-01-01                          0              0
2012-01-08                          0              0
2012-01-15                          0              0
2012-01-22                          0              0
2012-01-29                          0              0
2012-02-05                          0              0
2012-02-12                          0              0
2012-02-19                          0              0
2012-02-26                          0              0
2012-03-04                        100              0
2012-03-11                          0              0
2012-03-18                          0              0
2012-03-25                          0              0
2012-04-01                          0              0
2012-04-08                          0              0
2012-04-15                          0              0
2012-04-22                          0              0
2012-04-29                          0              0
2012-05-06                          0              0
2012-05-13                          0              0
2012-05-20                          0              0
2012-05-27                          0              0
2012-06-03                          0              0
2012-06-10                          0              0
2012-06-17                          0             61
2012-06-24                          0              0
2012-07-01                          0              0
2012-07-08                          0              0
2012-07-15                          0              0
2012-07-22                          0              0
...                               ...            ...
2015-06-07                          0              0
2015-06-14                          0              0
2015-06-21                          0              0
2015-06-28                          0              0
2015-07-05                          0             42
2015-07-12                          0              0
2015-07-19                          0              0
2015-07-26                          0              0
2015-08-02                          0              0
2015-08-09                          0              0
2015-08-16                          0              0
2015-08-23                          0              0
2015-08-30                          0              0
2015-09-06                          0              0
2015-09-13                          0              0
2015-09-20                          0              0
2015-09-27                          0              0
2015-10-04                          0              0
2015-10-11                          0              0
2015-10-18                          0              0
2015-10-25                          0              0
2015-11-01                          0              0
2015-11-08                          0             38
2015-11-15                          0              0
2015-11-22                          0              0
2015-11-29                          0              0
2015-12-06                          0              0
2015-12-13                          0              0
2015-12-20                          0              0
2015-12-27                          0              0

            men's new york fashion week  ANDAM fashion CFDA fashion  \
date
2012-01-01                          NaN            NaN            0
2012-01-08                          NaN            NaN            0
2012-01-15                          NaN            NaN            0
2012-01-22                          NaN            NaN            0
2012-01-29                          NaN            NaN            0
2012-02-05                          NaN            NaN            0
2012-02-12                          NaN            NaN            0
2012-02-19                          NaN            NaN            0
2012-02-26                          NaN            NaN           53
2012-03-04                          NaN            NaN            0
2012-03-11                          NaN            NaN            0
2012-03-18                          NaN            NaN            0
2012-03-25                          NaN            NaN            0
2012-04-01                          NaN            NaN            0
2012-04-08                          NaN            NaN            0
2012-04-15                          NaN            NaN            0
2012-04-22                          NaN            NaN            0
2012-04-29                          NaN            NaN            0
2012-05-06                          NaN            NaN            0
2012-05-13                          NaN            NaN            0
2012-05-20                          NaN            NaN            0
2012-05-27                          NaN            NaN            0
2012-06-03                          NaN            NaN            0
2012-06-10                          NaN            NaN           52
2012-06-17                          NaN            NaN            0
2012-06-24                          NaN            NaN            0
2012-07-01                          NaN            NaN            0
2012-07-08                          NaN            NaN            0
2012-07-15                          NaN            NaN            0
2012-07-22                          NaN            NaN            0
...                                 ...            ...          ...
2015-06-07                          NaN            NaN            0
2015-06-14                          NaN            NaN            0
2015-06-21                          NaN            NaN            0
2015-06-28                          NaN            NaN            0
2015-07-05                          NaN            NaN            0
2015-07-12                          NaN            NaN            0
2015-07-19                          NaN            NaN            0
2015-07-26                          NaN            NaN            0
2015-08-02                          NaN            NaN           36
2015-08-09                          NaN            NaN            0
2015-08-16                          NaN            NaN            0
2015-08-23                          NaN            NaN            0
2015-08-30                          NaN            NaN            0
2015-09-06                          NaN            NaN            0
2015-09-13                          NaN            NaN           33
2015-09-20                          NaN            NaN            0
2015-09-27                          NaN            NaN            0
2015-10-04                          NaN            NaN            0
2015-10-11                          NaN            NaN            0
2015-10-18                          NaN            NaN           64
2015-10-25                          NaN            NaN            0
2015-11-01                          NaN            NaN           32
2015-11-08                          NaN            NaN            0
2015-11-15                          NaN            NaN            0
2015-11-22                          NaN            NaN            0
2015-11-29                          NaN            NaN           64
2015-12-06                          NaN            NaN            0
2015-12-13                          NaN            NaN            0
2015-12-20                          NaN            NaN            0
2015-12-27                          NaN            NaN            0

           new york fashion week  milan men's fashion week  \
date
2012-01-01                    20                       NaN
2012-01-08                    20                       NaN
2012-01-15                     0                       NaN
2012-01-22                     0                       NaN
2012-01-29                    19                       NaN
2012-02-05                    96                       NaN
2012-02-12                    77                       NaN
2012-02-19                    19                       NaN
2012-02-26                    19                       NaN
2012-03-04                     0                       NaN
2012-03-11                    37                       NaN
2012-03-18                     0                       NaN
2012-03-25                     0                       NaN
2012-04-01                     0                       NaN
2012-04-08                     0                       NaN
2012-04-15                     0                       NaN
2012-04-22                    19                       NaN
2012-04-29                     0                       NaN
2012-05-06                    19                       NaN
2012-05-13                     0                       NaN
2012-05-20                     0                       NaN
2012-05-27                     0                       NaN
2012-06-03                     0                       NaN
2012-06-10                    19                       NaN
2012-06-17                     0                       NaN
2012-06-24                     0                       NaN
2012-07-01                     0                       NaN
2012-07-08                     0                       NaN
2012-07-15                     0                       NaN
2012-07-22                     0                       NaN
...                          ...                       ...
2015-06-07                     0                       NaN
2015-06-14                     0                       NaN
2015-06-21                     0                       NaN
2015-06-28                     0                       NaN
2015-07-05                     0                       NaN
2015-07-12                     0                       NaN
2015-07-19                     0                       NaN
2015-07-26                     0                       NaN
2015-08-02                     0                       NaN
2015-08-09                    25                       NaN
2015-08-16                     0                       NaN
2015-08-23                    12                       NaN
2015-08-30                    12                       NaN
2015-09-06                    24                       NaN
2015-09-13                    30                       NaN
2015-09-20                    12                       NaN
2015-09-27                    24                       NaN
2015-10-04                    12                       NaN
2015-10-11                     0                       NaN
2015-10-18                     0                       NaN
2015-10-25                    23                       NaN
2015-11-01                    12                       NaN
2015-11-08                     0                       NaN
2015-11-15                     0                       NaN
2015-11-22                    12                       NaN
2015-11-29                     0                       NaN
2015-12-06                     0                       NaN
2015-12-13                     0                       NaN
2015-12-20                     0                       NaN
2015-12-27                     0                       NaN

           bread and butter fashion
date
2012-01-01                        0
2012-01-08                        0
2012-01-15                      100
2012-01-22                        0
2012-01-29                        0
2012-02-05                        0
2012-02-12                        0
2012-02-19                        0
2012-02-26                        0
2012-03-04                        0
2012-03-11                        0
2012-03-18                        0
2012-03-25                        0
2012-04-01                        0
2012-04-08                        0
2012-04-15                        0
2012-04-22                        0
2012-04-29                        0
2012-05-06                        0
2012-05-13                        0
2012-05-20                        0
2012-05-27                       96
2012-06-03                        0
2012-06-10                        0
2012-06-17                        0
2012-06-24                        0
2012-07-01                        0
2012-07-08                        0
2012-07-15                        0
2012-07-22                        0
...                             ...
2015-06-07                        0
2015-06-14                        0
2015-06-21                        0
2015-06-28                        0
2015-07-05                        0
2015-07-12                        0
2015-07-19                        0
2015-07-26                        0
2015-08-02                        0
2015-08-09                        0
2015-08-16                        0
2015-08-23                        0
2015-08-30                        0
2015-09-06                        0
2015-09-13                        0
2015-09-20                        0
2015-09-27                        0
2015-10-04                        0
2015-10-11                        0
2015-10-18                        0
2015-10-25                        0
2015-11-01                        0
2015-11-08                        0
2015-11-15                        0
2015-11-22                        0
2015-11-29                        0
2015-12-06                        0
2015-12-13                        0
2015-12-20                        0
2015-12-27                        0

[209 rows x 12 columns]

In [26]:
## Categories
category_term_df = pd.read_csv("categories.csv")
category_term = category_term_df['Category'].tolist()
category_term = [x.replace(')','') for x in category_term]
category_term = [x.replace('(','') for x in category_term]
linh = category_term[50:100]
jae = category_term [40:50]
linh2 = category_term[10:34]
print linh2
#cateogry_search_df = get_interest_over_time(start_date, end_date, category_term[0])
#print(category_search_df[:100,:7])
#category_search_df = category_search_df.to_csv('category-search.csv')

['Boat neck', 'Boater', 'Bowler hat', 'Buckskins', 'Busby', 'Bustier', 'Bustle', 'Button', 'Camp shirt', 'Chaps', 'Chic style', 'Choker', 'Cleavage breasts', 'Coat clothing', 'Cocktail dress', 'Cope', 'Corsage', 'Corset', 'Cowboy hat', 'Cowl', 'Cuff', 'Cut and sew', 'Dandy', 'Dirndl']

In [54]:
### edge_list
### Calculate the correlation (edge_list)
event_search_df = pd.read_csv("event-search.csv")
category_search_df = pd.read_csv("category-search.csv")
event_term_list = event_search_df.columns[1:]
category_term_list = category_search_df.columns[1:]

event_search_df['date'] = pd.to_datetime(event_search_df['date'])
category_search_df['date'] = pd.to_datetime(category_search_df['date'])
event_search_df['Month'] = event_search_df['date'].apply(lambda x: x.strftime('%B-%Y'))
#category_search_df['Month'] = category_search_df['date'].apply(lambda x: x.strftime('%B-%Y'))


edge_list = pd.DataFrame(columns = ['Month','Category', 'Event', 'Link'])
concat_df = pd.concat([event_search_df, category_search_df], axis = 1)

for category in category_term_list:
    for event in event_term_list:
        temp = concat_df.groupby('Month')[[category, event]].corr().ix[0::2,event]
        temp = temp.reset_index()
        temp.columns = ['Month', 'Category','Link']
        temp['Event'] = event
        edge_list = edge_list.append(temp, ignore_index = True)

edge_list = edge_list.fillna(0)

print edge_list
edge_list.to_csv("edge-list.csv")

ValueError: Grouper for 'Month' not 1-dimensional

In [59]:
### Create node_list
event_search_df = pd.read_csv("event-search.csv")
category_search_df = pd.read_csv("category-search.csv")
event_term_list = event_search_df.columns[1:]
category_term_list = category_search_df.columns[1:]

event_search_df['date'] = pd.to_datetime(event_search_df['date'])
category_search_df['date'] = pd.to_datetime(category_search_df['date'])
event_search_df['Month'] = event_search_df['date'].apply(lambda x: x.strftime('%B-%Y'))
category_search_df['Month'] = category_search_df['date'].apply(lambda x: x.strftime('%B-%Y'))




## For the event
event_search_df = event_search_df.drop('date',1)
event_search_df.index = event_search_df['Month']
event_search_df = event_search_df.drop('Month',1)
event_search_df = event_search_df.unstack().reset_index()
event_search_df.columns = ['event', 'Month', 'value']
event_search_df = event_search_df.groupby(['Month', 'event'], as_index = False).mean()
event_search_df.columns = ['Month','Node', 'Popularity']
event_search_df['Type'] = 'Event'

In [60]:
## For the category
category_search_df = pd.read_csv("category-search.csv")
category_search_df['date'] = pd.to_datetime(category_search_df['date'])
category_search_df['Month'] = category_search_df['date'].apply(lambda x: x.strftime('%B-%Y'))


category_search_df = category_search_df.drop('date',1)
category_search_df.index = category_search_df['Month']
category_search_df = category_search_df.drop('Month',1)
category_search_df = category_search_df.unstack().reset_index()
category_search_df.columns = ['event', 'Month', 'value']
category_search_df = category_search_df.groupby(['Month', 'event'], as_index = False).mean()
category_search_df.columns = ['Month','Node', 'Popularity']
category_search_df['Type'] = 'Clothing'



### Merge 2 node lists into one
node_list = category_search_df.append(event_search_df)
node_list.to_csv("node_list.csv")
print node_list

              Month                              Node  Popularity      Type
0        April-2012                         Boat neck       38.20  Clothing
1        April-2012                            Boater       39.00  Clothing
2        April-2012                        Bowler hat       58.40  Clothing
3        April-2012                         Buckskins       33.80  Clothing
4        April-2012                             Busby       44.20  Clothing
5        April-2012                           Bustier       91.20  Clothing
6        April-2012                            Button       87.40  Clothing
7        April-2012                        Camp shirt       67.40  Clothing
8        April-2012                             Chaps       78.00  Clothing
9        April-2012                        Chic style       73.00  Clothing
10       April-2012                            Choker       21.80  Clothing
11       April-2012                   Cleavage breast       38.60  Clothing
12       April-2012                              Coat       42.20  Clothing
13       April-2012                    Cocktail dress       68.80  Clothing
14       April-2012                              Cope       73.80  Clothing
15       April-2012                           Corsage       63.00  Clothing
16       April-2012                            Corset       52.20  Clothing
17       April-2012                        Cowboy hat       35.40  Clothing
18       April-2012                              Cowl       50.20  Clothing
19       April-2012                              Cuff       72.60  Clothing
20       April-2012                       Cut and sew       53.60  Clothing
21       April-2012                             Dandy       53.20  Clothing
22       April-2012                            Dirndl       14.80  Clothing
23       April-2012                    Fetish fashion       57.60  Clothing
24       April-2012                           Fishnet       71.80  Clothing
25       April-2012                           Flannel       17.60  Clothing
26       April-2012                        Flip-flops       76.20  Clothing
27       April-2012                           Handbag       79.80  Clothing
28       April-2012                      Handkerchief       83.20  Clothing
29       April-2012                     Haute couture       53.20  Clothing
..              ...                               ...         ...       ...
498  September-2013        Haute Couture Fashion Week       15.20     Event
499  September-2013               London Fashion Week       28.00     Event
500  September-2013       Men's New York Fashion Week        8.60     Event
501  September-2013          Milan Men's Fashion Week       13.00     Event
502  September-2013            Milan SS Ready to Wear       28.60     Event
503  September-2013             New York Fashion Week       34.20     Event
504  September-2013  Paris Fashion Week Ready to Wear       42.20     Event
505  September-2013                    Pitti Immagine        5.60     Event
506  September-2014                    Academy Awards       13.25     Event
507  September-2014                  Bread and Butter       13.50     Event
508  September-2014               CFDA Fashion Awards        1.25     Event
509  September-2014        Haute Couture Fashion Week        0.00     Event
510  September-2014               London Fashion Week       41.00     Event
511  September-2014       Men's New York Fashion Week       12.75     Event
512  September-2014          Milan Men's Fashion Week       18.00     Event
513  September-2014            Milan SS Ready to Wear       37.75     Event
514  September-2014             New York Fashion Week       20.75     Event
515  September-2014  Paris Fashion Week Ready to Wear       47.50     Event
516  September-2014                    Pitti Immagine        9.50     Event
517  September-2015                    Academy Awards       16.25     Event
518  September-2015                  Bread and Butter        5.25     Event
519  September-2015               CFDA Fashion Awards        0.75     Event
520  September-2015        Haute Couture Fashion Week        0.00     Event
521  September-2015               London Fashion Week       22.75     Event
522  September-2015       Men's New York Fashion Week       14.50     Event
523  September-2015          Milan Men's Fashion Week       12.00     Event
524  September-2015            Milan SS Ready to Wear       27.75     Event
525  September-2015             New York Fashion Week       22.50     Event
526  September-2015  Paris Fashion Week Ready to Wear       33.00     Event
527  September-2015                    Pitti Immagine        7.50     Event

[8736 rows x 4 columns]